.rb
{
	background-image: url(/Lottery/images/zfb_redball.gif);
	font-size: 14px;
	color: White;
	width: 25px;
}
.bb
{
	background-image: url(/Lottery/images/zfb_blueball.gif);
	font-size: 14px;
	color: White;
	width: 25px;
}
.redMenu
{
	font-size: 13px;
	color: #fff;
	line-height: 29px;
	font-weight: bold;
	background-color: #f60;
	border: #f60 1px solid;
	border-bottom: 0px;
	width: 72px;
	cursor: pointer;
	float: left;
	margin-bottom: 0px;
}
.whiteMenu
{
	font-size: 13px;
	line-height: 29px;
	font-weight: normal;
	background-color: #fff;
	border: #e3e3e3 1px solid;
	border-bottom: 0px;
	width: 72px;
	cursor: pointer;
	float: left;
}
.whiteMenu1
{
	font-size: 13px;
	color: #216699;
	line-height: 29px;
	font-weight: normal;
	background-color: #fff;
	border: #e3e3e3 1px solid;
	border-bottom: 0px;
	width: 72px;
	cursor: pointer;
	float: left;
}
.splay
{
	background-color: #f60;
	border-left: #fff 2px solid;
	width: 66px;
	height: 25px;
	cursor: pointer;
	font-weight: bold;
	color: White;
	height: 29px;
}
.msplay
{
	background: url(/Lottery/images/cz_qh_72_1.jpg);
	font-size: 12px;
	color: #226699;
	font-family: "tahoma";
	line-height: 20px;
	width: 72px;
	height: 29px;
	font-weight: bold;
	cursor: pointer;
}
.nsplay
{
	background: url(/Lottery/images/cz_qh_72_2.jpg);
	font-size: 12px;
	color: #226699;
	font-family: "tahoma";
	line-height: 20px;
	width: 72px;
	font-weight: normal;
	cursor: pointer;
	position:relative;
}
.hui12
{
	font-size: 12px;
	color: #666666;
	font-family: "tahoma";
	line-height: 20px;
}
.num_1
{
	font-size: 18px;
	color: #ff0000;
	font-family: Georgia, "Times New Roman" , Times, serif;
	line-height: 20px;
	font-style: italic;
	font-weight: bold;
}
.red2
{
	font-size: 12px;
	color: #FF0065;
	font-family: "tahoma";
	line-height: 20px;
}
#menu_left
{
	float: left;
	padding: 0px;
	overflow: hidden;
	word-wrap: break-word;
}
#menu_right
{
	float: left;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
}
#issue-memo
{
	background-color: white;
	filter: alpha(opacity=60);
	opacity: .6;
	position: absolute;
	z-index: 110;
	top: 0;
	left: 0;
	width:612px;
	height:1150px;
	display:none;
}
.TabMenu{ font-size: 13px; margin-top: 0px !important; margin-top: 15px; height: 31px; padding-bottom: 0px; width: 100%; background-color: #fff;}
.TabMenu ul{ float: left; margin-left: 10px; width: 306px; height: 30px; border: none; vertical-align: bottom; background-color: #fff; color: #000; font-weight:normal; }
.TabMenu ul li{ margin-right: 2px; float: left; text-align:center; vertical-align: bottom; width: 72px; line-height: 29px; cursor: pointer; background-color: #fff; border: #e3e3e3 1px solid;}
.TabMenu ul li.redMenu{ color: #fff; font-weight: bold; background-color: #ff6600; border: #ff6600 1px solid; }
.TabMenu span{ float: right; margin-right: 10px; margin-top: 5px; border: none; background-color: #fff; text-align:center; vertical-align: bottom; height: 22px; }
/*.TabMenu_Bottom_HR{background-color: #ff6600; height: 1px; border: 0px; }*/

.TabMenuSub{ font-size: 12px; padding-bottom: 0px; width: 100%; background-color: #fff; font-family: "tahoma"; }
.TabMenuSub ul{ float: left; margin-left: 10px; width: 526px; border: none; background-color: #fff; color: #000; font-weight:normal; }
.TabMenuSub ul li{ background: url(/Lottery/images/cz_qh_72_2.jpg); color: #1784ff;  margin-right: 2px; float: left; text-align:center; width: 72px; line-height: 29px; cursor: pointer; border: none;}
.TabMenuSub ul li.selected{ background: url(/Lottery/images/cz_qh_72_1.jpg); font-weight: bold; border: none;  color: #686868;}

.hide{ display: none; }

.SummaryInfo{ width: auto; }
.SummaryInfo dl{ float: left; margin-left: 2px; line-height: 22px; width: auto; font-size: 12px; text-align: center; }


#divBall strong{  color:#0066ba; font-size:13px;}

#div_HNXYC_XC .tz_ball{margin:0px; padding:0px; border:0px; width:100%;  height:auto; padding-top:5px;  height:40px; float:left;border:0px solid black;  }
#div_HNXYC_XC .c-s-side{ margin:auto; padding:0px; border:0px;  width:auto;   float:left;  height:100%;border:0px solid black;  padding-top:5px; }
#div_HNXYC_XC .c-s-num{margin:0px; padding:0px; border:0px;   margin-left:25px; float:left;}

#div_HNXYC_RX .tz_ball{margin:0px; padding:0px; border:0px; width:100%;  height:auto; padding-top:5px;  height:40px; float:left;border:0px solid black;  }
#div_HNXYC_RX .c-s-side{ margin:auto; padding:0px; border:0px;  width:auto;   float:left;  height:100%;border:0px solid black;  padding-top:5px; }
#div_HNXYC_RX .c-s-num{margin:0px; padding:0px; border:0px;   margin-left:25px; float:left;}

#div_HNXYC_SX .tz_ball{margin:0px; padding:0px; border:0px; width:100%;  height:auto; padding-top:5px;  height:40px; float:left;border:0px solid black;  }
#div_HNXYC_SX .c-s-side{ margin:auto; padding:0px; border:0px;  width:auto;   float:left;  height:100%;border:0px solid black;  padding-top:5px; }
#div_HNXYC_SX .c-s-num{margin:0px; padding:0px; border:0px;   margin-left:25px; float:left;}


#WLYX_XC .tz_ball{margin:0px; padding:0px; border:0px; width:100%;  height:auto; padding-top:5px;  height:40px; float:left;border:0px solid black;  }
#WLYX_XC .c-s-side{ margin:auto; padding:0px; border:0px;  width:auto;   float:left;  height:100%;border:0px solid black;  padding-top:5px; }
#WLYX_XC .c-s-num{margin:0px; padding:0px; border:0px;   margin-left:25px; float:left;}

#WLYX_RX .tz_ball{ margin:auto; padding:0px; border:0px; width:100%;  height:auto; padding-top:5px;  height:120px; float:left;border:0px solid black;  }
#WLYX_RX .c-s-side{ margin:0px; padding:0px; border:0px;  width:10%;   float:left;  height:100%;border:0px solid black;  padding-top:5px; }
#WLYX_RX .c-s-num{margin:0px; padding:0px; border:0px;  width:auto;  margin-left:25px;  border:0px solid black; padding-top:40px;  float:left; margin:auto;}

#WLYX_SX .tz_ball{margin:0px; padding:0px; border:0px; width:100%;  height:auto; padding-top:5px;  height:40px; float:left;border:0px solid black;  }
#WLYX_SX .c-s-side{ margin:auto; padding:0px; border:0px;  width:auto;   float:left;  height:100%;border:0px solid black;  padding-top:5px; }
#WLYX_SX .c-s-num{margin:0px; padding:0px; border:0px;   margin-left:25px; float:left;}