
/* -- 红人方案 --  */
.fire-scheme { margin-top: 20px; margin-bottom: 10px; background-color: #FAFAFA; }
.fire-scheme > h3 { font-size: 16px; line-height: 30px; }
.fire-scheme > div { margin-top: 10px; margin-bottom: 10px; }
.fire-scheme > div > a { position: relative; display: inline-block; margin-left: 25px;  padding-left: 15px; width: 120px; line-height: 26px; color: #333; }
.fire-scheme > div > a > span { position: absolute; left: 0; top: 7px; display: inline-block; width: 9px; height: 12px; background-image: url(../Images/bulb-ico.png) }


.chart .tabs > li { position: relative; float: left; height: 40px; line-height: 40px; color: #e5e5e5; cursor: pointer; }
.chart .tabs > li > a { padding-left: 20px; padding-right: 20px; color: #333; }
.chart .tabs > li > span { position: absolute; top: 0; left: 0; width: 98%; border-top: 3px solid #fff; }
.chart .tabs > li.active a,
.chart .tabs > li:hover a { color: #df1515; text-decoration: none; }
.chart .tabs > li.active span,
.chart .tabs > li:hover span { border-top: 3px solid #df1515; }
.chart > div { position: relative; border-bottom: 2px solid #df1515; }
.chart > div > p { position: relative; height:55px; line-height: 55px; text-indent: 110px; }
.chart > div > p > a.buy-button,
.chart > div > p > span { position: absolute; top: 0; right: 20px; }
.chart > div > p > a.buy-button {  top: 12px; display: inline-block; width: 113px; height: 32px; background-image: url(../Images/buy-button.png); }
#buy-button {     margin-left:883px;   position:relative; top:-45px;  display: inline-block; width: 113px; height: 32px; background-image: url(../Images/buy-button.png); }
.chart > div > img { position: absolute; left: 13px; top: 13px; }

.chart .table { width: 100%; text-align: center; }
.chart .table th { line-height: 30px; background-color: #FFF2F2; }
.chart .table th.order-by { cursor: pointer; }
.chart .table th.order-by > span { display: inline-block; margin-left: 3px; height: 10px; width: 10px; background-image: url(../Images/arrows-down-ico.png); 	}
.chart .table th.order-by > span.active { background-image: url(../Images/arrows-up-ico.png); }
.chart .table td { line-height: 45px; border-top: 1px solid #e5e5e5; }
.chart .table tr:hover { background-color: #FFFFE8; }
.chart .table td > span.protect { color: #fff; background-color: #FFA24D; }
.chart .table td > a.buy { margin-right: 10px; padding: 5px 15px; color: #fff; text-decoration: none; border: 1px solid #B2090C; background-color: #D20101; }
.chart .page { border-bottom: none; }