

/* -- 开奖公告 -- */
.ziehung { margin-top: 20px; text-align:center; }
.ziehung h3{text-align:left; }
.ziehung .col-1{text-align:left; }
.ziehung .col-2{text-align:left; }
.row { height: 69px; border-bottom: 1px dotted #B4B4B4; }
.sizzler { border-bottom: 1px solid #D5D5D5; }
.row > div { float: left; }
.row .col-1 { width: 24%; }
.row .col-2 { width: 34% } 
.row .col-3 { width: 28%; }
.row .col-4 { width: 14%; }
.ziehung .title { height: 40px; line-height: 40px; border-bottom: 1px solid #e5e5e5; }
.ziehung .title > div { font-size: 14px; text-align: center; background-color: #FFF9F1; }
.ziehung h3 { height: 35px; line-height: 35px; font-size: 16px; text-indent: 30px; border-bottom: 1px solid #df1515; background-color: #F4F4F4; }

.col-1 { position: relative; }
.col-1 > h4 { margin-top: 6px; height: 30px; line-height: 30px; }
.col-1 > h4 > b { font-size: 16px; margin-right: 10px; padding-left: 30px; }
.col-1 > h4 > span { font-size: 12px; font-weight: normal; }
.col-1 > div.ico { position: absolute; top: 1px; left: 0; height: 67px; width: 20px; background-image: url(../Images/ziehung-ico.png); }
.col-1 > div.jiajiang { position: absolute; top: 1px; left: 0; height: 67px; width: 20px; background-image: url(../Images/jiajiang2.png); }
.col-1 > p { color: #999; text-indent: 30px; }
.col-2 > h5,
.col-2 > div { line-height: 28px; margin-top: 10px; }
.col-2 > div > b,
.lotto-results .conent p.number > b { display: inline-block; margin-right: 3px; height: 28px; width: 28px; text-align: center; color: #fff; font-size: 16px; background-image: url(../Images/ziehung-ball-red.png); }
.lotto-results .conent p.number > b.blue,
.col-2 > div > b.blue { background-image: url(../Images/ziehung-ball-blue.png); }
.col-2 > div > i { display: inline-block; margin-right: 2px; font: 14px "微软雅黑"; width: 12px; height: 24px; line-height: 24px; color: #fff; text-align: center; border: 1px solid #0E3709; background-color: #1BBB31; }
.col-2 > h5 > a,
.col-2 > div > a { margin-left: 5px; }
.col-2 > p { margin-top: 6px; color: #999; }
.col-2 > h5 { margin-top: 14px; margin-bottom: 8px; font: bold 14px "微软雅黑"; }
.col-2 > h5 > a { font: normal 12px "微软雅黑"; }
.col-3 > a { line-height: 69px; margin-right: 15px; }
.col-4 > a { margin-right: 5px; padding: 5px 15px; line-height: 69px; border: 1px solid #A7A7A7; color: #333; text-decoration: none; }
.col-4 > a.buy { border: 1px solid #B2090C; background-color: #D20101; color: #fff; }

.prompt { margin-bottom: 40px; margin-top: 20px; text-indent: 30px; }
.prompt > p { position: relative; margin-top: 15px; margin-bottom: 15px; font-size: 14px; color: #e29809; }
.prompt > p >span.bulb { top: 2px; left: 15px; display: inline-block; height: 12px; width: 9px; background-image: url(../Images/bulb-ico.png); }
.prompt > div { margin-bottom: 15px; font-size: 16px; }
.prompt > div > span { margin-left: 15px; margin-right: 15px; }


/* -- 开奖详情 -- */
.details { margin-top: 10px; margin-bottom: 30px; }
.details > h3 { position: relative; height: 35px; line-height: 35px; background-color: #F8F8F8; text-indent: 15px; border-bottom: 2px solid #df1515; }
.details > h3 > span { position: absolute; right: 15px; top: 0; font-size: 12px; font-weight: normal; vertical-align: middle; }

.details-1 .chart table { float: left; border-spacing: 0; }
.details-1 table th,
.details-1 table td {  height: 30px; line-height: 30px; text-align: center; }
.details-1 table th { font-weight: normal; border-bottom: 1px solid #D5D5D5; background-color: #F1F1F1; } 
.details-1 table .number { font-size: 15px; font-weight: bold; }
.details-1 table tr:nth-child(odd) { background-color: #FFFAF3; }
.details-1 div .table-2 { width: 50%; border-left: 1px solid #D5D5D5; }

.details-2 > h3 { border-bottom: 2px solid #058725; }
.details-2 > h3 input { width: 130px; height: 18px; line-height: 18px; border: 1px solid #A9A9A9; background: #fff url(../Images/down-ico.png) no-repeat right; text-indent: 5px; cursor: default; }
.details-2 > table { border-collapse: collapse; }
.details-2 > table th { height: 22px; font-weight: normal; border: 1px solid #84D189; background-color: #B4E1AA; }
.details-2 > table td { height: 30px; border: 1px solid #D5D5D5; text-align: center; }
.details-2 > table .events > span { display: inline-block; width: 60px; height: 22px; line-height: 22px; color: #fff; border-radius: 2px; }

.details-3 > div.left { width: 750px; }
.details-3 > div.right { width: 240px; }
.details-3 > div.right .help > h3,
.details-3 > div.right .history-award > h3,
.details-3 .lotto-results .search { height: 38px; line-height: 38px; font-size: 14px; font-weight: bold; background-color: #F5F5F5; text-indent: 15px; }
.details-3 .lotto-results .search .kind { width: 120px; }
.details-3 .lotto-results .con-box { position: relative; font-size: 14px; }
.details-3 .lotto-results .conent { position: absolute; left: 15px; top: 0; }
.details-3 .lotto-results .conent > h3,
.details-3 .lotto-results .conent > p { height: 28px; line-height: 28px; }
.lotto-results .conent p.number { margin-top: 10px; margin-bottom: 10px; }
.lotto-results .conent .line { margin-top: 10px; margin-bottom: 20px;  height:0px; *width: 315px; border-bottom: 1px dashed #C4C4C4; }
.lotto-results .conent .btn { position: relative; }
.lotto-results .conent .btn > a { display: inline-block; text-align: center; vertical-align: middle; }
.lotto-results .conent .btn > a:hover { text-decoration: none; }
.lotto-results .conent a.bet { font: bold 18px "微软雅黑"; width: 120px; height: 38px; line-height: 36px; color: #fff; background-color: #df1515; border-radius: 5px; }
.lotto-results .conent a.buy { position: absolute; left: 135px; top: 7px; width: 75px; height: 22px; line-height: 22px;  color: #fa6705; border: 1px solid #EEC35D; background-color: #FBF3DC; border-radius: 3px; }
.lotto-results .con-box table { width: 310px; margin: 10px 20px 10px 420px; border-collapse: collapse; }
.lotto-results .con-box table th,
.lotto-results .con-box table td { height: 35px; line-height: 35px; text-align: center; border: 1px solid #d5d5d5; }
.lotto-results .con-box table th { background-color: #F8F8F8; }
.details-3 .win-rate { margin-top: 10px; }
.details-3 .win-rate > h3 { height: 30px; line-height: 30px; background: url(../Images/win-rate-h3-bg.png) repeat-x; text-indent: 15px; border-bottom: 1px solid #df1515; }
.details-3 .win-rate table th,
.details-3 .win-rate table td { line-height: 30px; text-align: center; }
.details-3 .win-rate table th { background-color: #F5F5F5; }
.details-3 .win-rate table td { border-top: 1px solid #d5d5d5; }
.details-3 .win-rate table td.total { height: 40px; line-height: 40px; text-align: right; padding-right: 20px; }
.details-3 .win-rate table tr:nth-child(odd) { background-color: #F5F5F5; }
.history-award > h3 { position: relative; }
.history-award > h3 > a { position: absolute; right: 15px; top: 0; font-size: 12px; font-weight: normal; }
.history-award ul,
.history-award .title { height: 30px; line-height: 30px; }
.history-award ul > li,
.history-award .title > div { float: left; width: 38%; text-align: center; }
.history-award ul > li.num,
.history-award .title > div.num { width: 62%; }
.history-award ul { border-top: 1px dotted #d5d5d5; }
.history-award ul > li > span { color: #df1515; }
.history-award ul > li > span.blue { color: #096ed6; }
.details-3 .right .help { margin-top: 10px; }
.details-3 .right .help > div { margin-top: 10px; margin-bottom: 10px; }
.details-3 .right .help a { float: left; width: 119px; text-indent: 10px; height: 28px; line-height: 28px; } 