<?xml version="1.0"?>
<configuration>
  <!-- Ajax Setting -->
  <configSections>
    <sectionGroup name="ajaxNet">
      <section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro.2"/>
    </sectionGroup>
    <section name="RewriterConfig" type="URLRewriter.RewriterConfigSerializerSectionHandler"/>
    <section name="injectionInterceptorSettings" type="Shove._Web.Security.InjectionInterceptorSettingConfigurationSectionHandler"/>
  </configSections>
  <ajaxNet>
    <ajaxSettings>
      <urlNamespaceMappings useAssemblyQualifiedName="false" allowListOnly="false"/>
      <jsonConverters/>
      <debug enabled="false"/>
      <token enabled="false" sitePassword="iloveSLSICAILE"/>
    </ajaxSettings>
  </ajaxNet>
  <!-- Ajax Setting End  -->
  <appSettings>
    <!--测试站点-->
	<!--  <add key="ConnectionString" value="Data Source=.;Initial Catalog=SLS53_WangXianSheng;User ID=sls_lottery_user;Password=9EOCQZ7owzN9EO4z;Connect Timeout=60"/> -->
	  <add key="ConnectionString" value="Data Source=VMWIN7-PC\SQLEXPRESS;Initial Catalog=SLS53_WangXianSheng;User ID=sa;Password=a123456;Connect Timeout=60"/>
    <add key="SystemPreFix" value="SLS_zycm1_"/>
    <add key="DllCallCert" value="ShoveSoft CO.,Ltd -- by Shove 20050709 深圳宝安"/>
    <add key="CacheSeconds" value="120"/>
    <add key="SitePageCacheSeconds" value="0"/>
    <add key="DEBUG" value="False"/>
    <add key="OnlinePayType" value="2"/>
    <add key="Register" value="True"/>
    <!--Key-->
    <add key="DesKey" value="tfgyNQ56Gkp97otH33yu4Tta"/>
    <!--演示MD5Key-->
    <add key="CenterMD5Key" value="Q56GtyNkop97H334TtyturfgErvvv98a"/>
    <!--暴风MD5Key-->
    <!--<add key="CenterMD5Key" value="Q56GtyNkop97H334TtDryuSG38REv98a"/>-->
    <add key="AppGatewayKey" value="111111"/>
    <add key="IsMD5" value="True"/>
    <!--资讯URL地址-->
    <add key="OddsURL" value="zc.caiyou.net"/>
    <!--资讯URL地址 END-->
    <!--客服系统-->
    <!--<add key="IsUsePPS" value="False" />-->
    <!--弹出广告-->
    <add key="FloatNotifyPageList" value=",Home_Web_Default,Home_Room_Default,Home_Lottery_Shssl_Play,Home_Room_TrendChart,Home_Web_LotteryIsuseOpenInfo,"/>
    <add key="FloatNotifyTimeOut" value="5"/>
    <!--新增接口配置-->
    <add key="ycurl" value="http://wayin.5166.info:81/yuncai/software/ycSoftLottery.php"/>
    <add key="ycAgentId" value="yc6636"/>
    <add key="ycKey" value="201305a7ffc826736"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="5000"/>
    <add key="IsStartAjaxInjectionInterceptor" value="true"/>
    <add key="IsCloseMethod_Shove_FilteSqlInfusion" value="true"/>
    <add key="ShoveCloudSignPid" value="2"/>
    <add key="ShoveCloudSignKey" value="3453kdsf87JG9TH51s"/>
    <!--END-->
    <!--版本注册码-->
    <add key="com.shove.security.License" value="i1NGUgteVwudS9p0kJfsd80WRQhbFwNaiRiFMYz"/>
    <!--END-->
    <!-- 威富通 WFTPay Config路径配置 Start -->
    <add key="WFTPayAbsolute" value="e:\caipiao\WWW\Home\Room\OnlinePay\WFTpay\config\config.properties"/>
    <!-- 威富通 WFTPay Config路径配置 END  -->
  </appSettings>
  <!-- URLwritiing Setting Start  -->
  <RewriterConfig>
    <Rules>
      <!-- Rules for NewsPager -->
      <RewriterRule>
        <LookFor>~/NewsPapers/(\d+)\.aspx</LookFor>
        <SendTo>
          <![CDATA[~/NewsPapers/NewsPaperList.aspx?IsuseId=$1]]>
        </SendTo>
      </RewriterRule>
      <!-- Rules for OpenInfo -->
      <RewriterRule>
        <LookFor>~/WinQuery/(\d+)\-(\d+)\-(\d+)\.aspx</LookFor>
        <SendTo>
          <![CDATA[~/WinQuery/OpenInfoList.aspx?LotteryID=$1&IsuseID=$2&PlayTypeID=$3]]>
        </SendTo>
      </RewriterRule>
      <!-- Rules for OpenInfo(Condition) -->
      <RewriterRule>
        <LookFor>~/WinQuery/(\d+)\-(\d+)\-(\d+)\-(\d+)\.aspx</LookFor>
        <SendTo>
          <![CDATA[~/WinQuery/OpenInfoList.aspx?LotteryID=$1&IsuseID=$2&PlayTypeID=$3&Search=$4]]>
        </SendTo>
      </RewriterRule>
      <!-- Rules for OpenInfo(PageIndex) -->
      <RewriterRule>
        <LookFor>~/WinQuery/(\d+)\-(\d+)\-(\d+)\-(\d+)\-(\d+)\.aspx</LookFor>
        <SendTo>
          <![CDATA[~/WinQuery/OpenInfoList.aspx?LotteryID=$1&IsuseID=$2&PlayTypeID=$3&Search=$4&PID=$5]]>
        </SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  <!-- URLwritiing Setting End  -->
  <injectionInterceptorSettings>
    <item key="AdminPages" exceptionLevel="2" rule="^[/]Admin[/][\S\s]*?"/>
  </injectionInterceptorSettings>
  <!-- Ajax Setting -->
  <!-- Ajax Setting End -->
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
	<httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" />
	<pages validateRequest="false" clientIDMode="AutoID"/>
    <!--
	<httpRuntime requestValidationMode="2.0" executionTimeout="1200" maxRequestLength="102400" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
	<pages validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	-->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Mobile, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--mode="StateServer"、"InProc"-->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <!--<sessionState mode="SQLServer" stateConnectionString="tcpip=127.0.0.1:42424" allowCustomSqlDatabase="true" sqlConnectionString="server=10.0.0.111;Uid=Lottery9988776655;Pwd=Lottery9988776655;database=ASPState;Trusted_Connection=no" cookieless="false" timeout="720" />-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <!--identity impersonate="true" /-->
    <!--上传文件大小，超时时间-->
    <xhtmlConformance mode="Legacy"/>
    
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <httpHandlers>
      <add path="ajaxpro/*.ashx" verb="POST,GET" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>
    </httpHandlers>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
      <error statusCode="403" redirect="NotFound.aspx"/>
      <error statusCode="404" redirect="NotFound.aspx"/>
    </customErrors>-->
    <customErrors mode="Off"/>
    <machineKey validationKey="3FF1E929BC0534950B0920A7B59FA698BD02DFE8" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A77" decryption="3DES" validation="SHA1"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="customBinding0">
          <binaryMessageEncoding/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="ModelBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Service">
        <endpoint address="T_PassRate" binding="basicHttpBinding" contract="IService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="ModelBehavior" name="Model">
        <endpoint address="" binding="basicHttpBinding" contract="IModel">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"/>
  </system.serviceModel>
</configuration>